<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <title>Listado de Directores</title>
</head>
<header>
    <div class="logoimg">
        <img src="https://www.duoc.cl/wp-content/themes/wordpress-duoc-cl/images/logo-duoc.svg" width="200" height="50">
    </div>
    <a href="/logout"><input type="button" value="Cerrar Sesion" class="btn-logout"></a>
</header>

<body>
    <div class="contenido">
        <div class="wrapper">
            <nav class="sidebar">
                <ul>
                    <li>
                        <a href="/inicioAdmin/register" class="">
                            <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd"
                                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg></span>
                            <span class="item">Nuevo</span>
                        </a>
                    </li>
                    <li>
                        <a href="/inicioAdmin/administradores" class="active">
                            <span class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg></span>
                            <span class="item">Listado Directores</span>
                        </a>
                    </li>
                    <li>
                        <a href="/inicioAdmin/votaciones" class="">
                            <span class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg></span>
                            <span class="item">Votaciones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/inicioAdmin/consejeros" class="">
                            <span class="icon"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg></span>
                            <span class="item">Consejeros</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container1">
            <%- include('../partials/flash') %>
            <h2>Listado de Directores</h2>
            <select id="filter-select">
                <option value="todos" disabled selected>Seleccionar escuela</option>
                <% for (escuela of escuelas) { %>
                    <option value="<%=escuela.id%>">
                        <%= escuela.escuela %>
                    </option>

                    <% } %>
            </select>

            <div class="personas-list">
                <ul class="item-list">
                    <% for (admin of admins) { %>
                        <li class="<%=admin.escuelaId%>">
                            <div class="persona">
                                <div class="persona-info">
                                    <h3>
                                        <%= admin.nombre %>
                                            <%=admin.apellido%>
                                    </h3>
                                    <p><b>Correo electrónico:</b>
                                        <%= admin.correo %>
                                    </p>
                                    <p><b>Escuela:</b>
                                        <%= admin.escuela.escuela %>
                                    </p>
                                </div>
                                <div class="conBtn">
                                    <a href="/inicioAdmin/administradores/<%=admin.id%>/editar"><input type="button"
                                            value="Editar" class="btn-edit"></a>
                                    <form id="formEliminar"
                                        action="/inicioAdmin/administradores/<%=admin.id%>?_method=DELETE"
                                        method="POST">
                                        <a href="#"><input onclick="confirmar(event)" type="submit" value="Eliminar"
                                                class="btn-eliminar"></a>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>

        </div>
    </div>
    <script src="/js/script.js"></script>

    <script>
        function confirmar(event) {
            // Detenemos el envio del formulario.
            event.preventDefault();
            // Mostramos la alerta con las opciones "Confirmar" y "Rechazar".
            if (confirm("¿Estas seguro de Eliminar a este Director?")) {
                // Si se selecciona "Confirmar", enviamos el formulario.
                document.getElementById("formEliminar").submit();
            } else {
                // Si se selecciona "Rechazar", no hacemos nada.
            }
        }
    </script>

</body>

<footer>

</footer>

</html>